{% extends 'probase.html.twig' %}

{% block title %}Пасека-Сезоны{% endblock %}


{% block menupro %}
    {{ include('app/proekts/_tabs.html.twig') }}

 {{ include('app/proekts/page_glavas/pasekas/_tabs.html.twig') }}
{% endblock %}

{#{% block kroxii %}#}
{#    <a href="{{ path('app.proekts.basepro') }}">Главная</a>#}
{#    <span class="aktiv ">Участие</span>#}
{#{% endblock %}#}

{% block bodyy %}

    Это body=======!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
{% endblock %}