.td_cent {
  text-align: center;
}
.fon_td_no {
  background-color: $fon-ser;
}

.fon_td_toch {
  background-color: #155799;
}

.fon_td_es {
  background-color: #e1ecf9;;
}

.fon_td_nado {
  background-color: #99efb9;
}

.fon_td {
  background-color: rgba(221, 214, 181, 0.32);
}
.dre_title {
  //margin-bottom: 1.5rem;
  padding: 1rem 0 1rem 1rem;
  font-size: 1.6rem;
  //color: $col-text;
}