{% if kategoria == 'э' %}
    <span class="badge badge-danger">э</span>
{% elseif kategoria == 'б' %}
    <span class="badge badge-primary">б</span>
{% elseif kategoria == 'а' %}
    <span class="badge badge-secondary">а</span>
{% elseif kategoria == 'ио' %}
    <span class="badge badge-success">ио</span>
{% elseif kategoria == 'ос' %}
    <span class="badge badge-warning">ос</span>
{% endif %}