
    <div class="wstavka">

{#        <div class="wstavka__kartinka">#}
{#            <div class="wstavka-stories  wstavka-stories--person" >#}
{#                <div class="wstavka-stories__item" data-modal="story-modal" >#}
{#                    <div class="persona-kar"></div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <div class="wstavka__title nav-teni">
           Выбираем  персональный номер
        </div> 
    </div>
 

