<aside class="sidebarr">

    <div class="sidebarr__header">
        <div class="logo_es"></div>
    </div>

       <div class="sidebarr__content">
        <div class="profilee">
            <div class="mesto-kar"> </div>

            <div class="profilee__header">
                <div class="profilee__name"> Выбираем  Округ  </div>
                <div class="profilee__prof"> Всё очень просто! </div>
            </div>
            <ul >    
                <li>-- Для выбора просто жмёте на нужное название или номер</li>
                <li>-</li>
                <li>-- Появится новая страничка для выбора Региона/Области</li>
                <li>-</li>
                <li>-- Если ошиблись - вернитесь на эту страничку через верхнее меню</li>
                <li >
{#                    <img class="inform__avatar" src="{{ asset('assets/proekt/images/mestos/kroxi.jpg') }}" alt="">#}
                </li>
                
            </ul>
            <div class="profilee__text">
                <div class="profilee__header">           
                    <div class="profilee__name"> Внимание! </div>
                    <div class="profilee__prof"> Если обнаружили ошибку или <br>не нашли  нужное название
                    </div>
                    <button class="btnn  btnn--pt btnn--mb0 " type="button" data-modal="contact-modal">
                    напишите мне
                </button>
                </div>
            </div>     
                        
        </div><!-- /.profile -->
    
       
    </div><!-- /.sidebar__content -->

		

</aside>