{#<ul class="nav nav-tabs mb-4">#}
{#    <li class="nav-item">#}
{#        <a class="nav-link" href="{{ path('adminka.uchasties') }}">Участники</a>#}
{#    </li>#}
{#    <li class="nav-item">#}
{#        <a class="nav-link active" href="{{ path('adminka.uchasties.groups') }}">Группы...</a>#}
{#    </li>#}

{#</ul>#}