.drevimg{
  background-image: url('../../../../assets/images/proekts/sezon/sezon4.png');
  width: 40px;
  height: 30px;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;

  //&--sezon4{
  //
  //}
}

.lupaimg{
  background-image: url('../../../../assets/images/proekts/lupa.png');
  width: 28px;
  height: 28px;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;

}
.matimg{
  background-image: url('../../../../assets/images/proekts/matkas/wetoch_m.png');
  width: 46px;
  height: 40px;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;

}