{% extends 'probase.html.twig' %}

{% block title %}Привер Проект{% endblock %}



{% block menupro %}
 {{ include('app/proekts/_tabs.html.twig') }}
{% endblock %}

{#{% block kroxii %}#}
{#    <span class="aktiv ">Главная</span>#}
{#{% endblock %}#}

{% block bodyy %}

    Это body=====================
{% endblock %}