.btnn {
  display: inline-block; // чтобы падинги корректно работали
  padding: 0.15rem .7rem 0.15rem .8rem;
  opacity: 1;
  cursor: pointer;
  border-radius: 2rem;
  font-family: inherit; //шрифт наследуется у родителя
  text-decoration: none;
  transition: background-color .3s linear;
  margin-bottom: .5rem;
  margin-left: 1.1rem;

  //&:hover {
  //  color: $body-bg;
  //  border: 1px solid $body-bg;
  //  box-shadow: inset 0 0 10px rgba($body-bg, 0.7);
  //}
}

.btnn-uchas {
//margin-top: 1rem;
  background-color: $col-uchastie;
  box-shadow: inset 0 0 10px rgba($beloe, 0.9);
  border: 1px solid $beloe;

  color: $beloe;

  &:hover {
    border: 1px solid $col-uchastie;
    box-shadow: inset 0 0 10px rgba($col-uchastie, 0.8);
    //background: none;
    text-decoration: none;
    color: $col-uchastie;
    background-color: $beloe;
  }
}

.btnn-sidebarr {
  color: $lini-prof;

  border: 1px solid $lini-prof;
  box-shadow: 0 10px 15px rgba($black, .2),
  inset 0 5px 15px rgba($border-linia-nav, .55);
  //box-shadow: inset 0 0 10px rgba($lini-prof, 0.9),
  // 0 7px 20px rgba(0, 0, 0, .25);
   //0 5px 10px rgba($primary-modal, .3);
  background-color: transparent;
  //border-radius: 3em;
  margin-top: .7rem ;

  &:hover {
    color: $grad1;
    background-color: $lini-prof;
    box-shadow: inset 0 5px 10px rgba($grad1, 0.7);
    border: 1px solid $grad1;
  }
}

.btnn-pers {
  color: $beloe;
  border: 1px solid $beloe;
  box-shadow: inset 0 0 10px rgba($beloe, 0.9);
  background-color: transparent;
  border-radius: 3em;
  margin: 1.5rem 0 0 3rem;

  &:hover {
    color: $lini-prof;
    box-shadow: inset 0 0 10px rgba($lini-prof, 0.9);
    border: 1px solid $lini-prof;
  }
}

.btnn-log {
  font-size: 1.25rem;
  color: $grad1;
  border: 1px solid $grad1;
  background-color: $body-bg;
  box-shadow: inset 0 0 10px rgba($grad1, 0.7);

  &:hover {
    color: $body-bg;
    border: 1px solid $grad1;
    //box-shadow: inset 0 0 10px rgba($grad1, 0.9);
    background-color: $grad1;
  }
}

.btnn-reg {
  font-size: 1.25rem;
  color: $body-bg;
  border: 1px solid $grad1;
  //box-shadow: inset 0 0 10px rgba($grad1, 0.9);
  background-color: $grad1;

  &:hover {
    color: $grad1;
    border: 1px solid $grad1;
    background-color: $body-bg;
    box-shadow: inset 0 0 10px rgba($grad1, 0.7);
  }
}