<aside class="sidebarr">

    <div class="sidebarr__header">
        <div class="logo_es"></div>
    </div>

       <div class="sidebarr__content">
        <div class="profilee">

            <img class="profilee__avatar" src="{{ asset('assets/proekt/images/matkas/matka.png') }}" alt="">
            <div class="sid__header">           
                 <div class="profilee__name st-plem st-plem__kras"> Сделано!!!  </div>
                <div class="profilee__prof"> У Вас все получилось  </div>
            </div>

            <div class="sid__header">
                <div class="profilee__name st-plem st-plem__kras"> Вы не видите маточку в списке  ПлемМаток?</div>
                <div class="profilee__prof">Все правильно. Продолжаем  ...  </div>
            </div>

            <div class="sid__header">
                <div class="profilee__name"> 1. Перейти к выбору  первого сезона</div>
{#                <div class="profilee__prof">#}
{#                    <a href="{{ path('proekt.pasekas.matkas.plemmatkas.redaktorss.show', {'plemmatka_id' : plemmatka.id}  ) }}"#}
{#                       class="btnn btnn--pt btnn--mb0 ">#}
{#                        Перейти  <strong class="strongo strongo--kras">тут </strong> или <strong class="strongo strongo--kras">->>> </strong>#}
{#                    </a>#}
{#                </div>#}
            </div>
            <div class="sid__header">
                <div class="profilee__name"> 2. Первый сезон от админа   </div>              
            </div>

            <div class="sid__header">
                <div class="profilee__name"> 3. Матка в списке  ПлемМаток</div>
                <div class="profilee__prof">Отлично! Время заявить о ДочьМатках  </div>
            </div>

            <div class="profilee__text">
                <div class="profilee__header">
                    <div class="profilee__name st-plem st-plem__kras"> Внимание! </div>
                    <div class="profilee__prof ">Все сложно и запутанно? <br>
                        Да, ладно!<br> Просто  прогулка по страничкам!
                    </div>
                    <button class="btnn  btnn--pt btnn--mb0 " type="button" data-modal="contact-modal">
                    Пишите мне 
                </button>
                </div>
            </div>     
                        
        </div><!-- /.profile -->
    
       
    </div>

</aside>