
.uchasties {
  display: flex;
  width: 100%;
  background-color: transparent;

  //@include breakpoint($tablet-bp){
  //	display: none;
  //}
}

.uchasties_break {

  display: none;

  //@include breakpoint($tablet-bp){
  //	display: flex;
  //	width: 100%;
  //	background-color: transparent;
  //}

}

.uchasties__left {
  width: 100%;
}

.uch-tabl__list {
  display: flex;
  justify-content: space-between;
  margin: 1rem;

  //a {
  //  font-size: 1.2rem;
  //  color: inherit; // что бы изменить цвет ссылки - на родительский post__title
  //  text-decoration: none;
  //  transition: box-shadow .2s linear;
  //
  //  &:hover {
  //    box-shadow: 0 15px 25px rgba($black, .45);
  //  }
  //}
}

.uch-tabl__list-li {
  width: 12.5%;
  text-align: center;
  font-size: 1.1rem;
  color: $text;

  &--group {
    width: 50%;
    font-size: 1.2rem;
    color: $beloe;
  }

  //@include breakpoint($tablet-bp){
  //	width: 24.5%;
  //}
}

// стилизация ссылок
.uch-tabl__link {
  display: block; // ссылки - блочные
  padding: 1rem; // отступы вокруг текста/ ссылки
  margin-right: 1rem;

  box-shadow: 0 5px 15px rgba($black, .45);

  // это border сверху\снизу у текста
  border-bottom: 1px solid $border-linia;
  border-top: 1px solid $border-linia;
  border-radius: 4px;

  font-size: 1.2rem; // шрифт - размер
  line-height: 1.1;
  text-decoration: none;
  transition: background-color .2s linear;

  &:hover {
    //background-color: $text;
    text-decoration: none;
  }
}

.uch-tabl__linia {
  display: block;

  padding-top: .6rem;
  padding-bottom: .5rem;
  background: none;
  border: none;
  border-bottom: 1px solid $text;
  border-radius: 0;
  box-shadow: none;

  &--col {
    padding-top: 1.5rem;
    padding-bottom: 0;
    border-bottom: 1px solid $lini-prof;
  }
}

.uch-color-prof {
  color: $lini-prof;
  font-size: 1.3rem;
}

.uch-color {
  color: $beloe;
  font-size: 1.2rem;

  &--colorr {
    color: $text;
  }
}