.zagol {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
  overflow: hidden; // в рамках размера -все лишнее скрылось overflow

  background-color: transparent;
  box-shadow: 0 5px 22px rgba(#23282c, .25);
  border-radius: 5px;
}

.zagol-teni {
  text-align: center;
  font-family: 'Oleo Script', cursive;
  font-size: 6.250em;
  color: transparent; /*это скроет текст*/
  letter-spacing: 0.1em;
  text-shadow: 0 1px 5px #ccb44b,

  0 -1px 0 rgba(0, 0, 0, 1),
  0 -3px 0 rgba(0, 0, 0, 0.25),
  0 1px 0 rgba(255, 255, 255, 0.5),
  0 2px 2px rgba(255, 255, 255, 0.2);

  &--em4 {
    font-size: 3.750em;
  }

  &--px30 {
    font-size: 1.875rem;
  }
}
//20 Пиксели = 1.25 Rem
//22 Пиксели = 1.375 Rem
//24 Пиксели = 1.5 Rem
//26 Пиксели = 1.625 Rem
// 28 Пиксели = 1.75 Rem.
//30 Пиксели = 1.875 Rem.
//32 Пиксели = 2 Rem.



.zagol-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  margin: -15rem auto 0 auto;
}

.zagol-col-md-8 {
  flex: 0 0 80%;
  max-width: 80%;
  border-radius: 5px;
  box-shadow: 0 5px 22px rgba(#23282c, .25);
}
.zagol-bg-primary{
  background: linear-gradient($grad1, $grad2);
}