.zagol {
  margin-bottom: 3rem;
  padding-bottom: 1rem; // изменила для rasas-ras
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
  overflow: hidden; // в рамках размера -все лишнее скрылось overflow

  background-color: transparent;
  box-shadow: 0 5px 22px rgba(#23282c, .25);
  border-radius: 5px;
}

.zagol-teni {
  text-align: center;
  font-family: 'Oleo Script', cursive;
  font-size: 6.250em;
  color: transparent; /*это скроет текст*/
  letter-spacing: 0.1em;
  text-shadow: 0 1px 5px #ccb44b,

  0 -1px 0 rgba(0, 0, 0, 1),
  0 -3px 0 rgba(0, 0, 0, 0.25),
  0 1px 0 rgba(255, 255, 255, 0.5),
  0 2px 2px rgba(255, 255, 255, 0.2);

  &--em4 {
    font-size: 3.750em;
  }
}