$mobile-bp: 575px; // мобильная версия
$tablet-bp: 991px; // планшетная версия

$body-bg: #f6f6f6;
$font-size-base: .85rem;

$breadcrumb-margin-bottom: 20px;

$table-border-color: #e6e6e6;
$table-cell-padding: 0.55rem;

$card-border-color: #e6e6e6;
$card-spacer-x: .7rem;
$card-spacer-y: .6rem;

//
$grad1:  #155799;
$grad2: #159957;
$grad1-o:  #ccb44b;
$grad2-o:   #d4ca9a;

$primary-modal:  #202020;

// headers -> header
$sidebarr-width: 250px;
$z-index-header: 1000;
$z-index-sidebar: 1000;
$header-color: rgb(151, 144, 93);
$lini-prof: #9f966b;

$kroxii: #155799;