$mobile-bp: 575px; // мобильная версия
$tablet-bp: 991px; // планшетная версия

$body-bg: #f6f6f6;
$font-size-base: .85rem;

$breadcrumb-margin-bottom: 20px;

$table-border-color: #e6e6e6;
$table-cell-padding: 0.55rem;

$card-border-color: #e6e6e6;
$card-spacer-x: .7rem;
$card-spacer-y: .6rem;

$godina-swet: #c4c0a9;
$godina-text: #474747;
$godina-col: #777a4d;

$plem-color: #155799; //$grad1
$col-child-ten: #565656;

$elit-col-pro7: rgba(32, 32, 32, 0.70);
$elit-col-pro6: rgba(32, 32, 32, 0.60);
$elit-col-pro1: rgba(32, 32, 32, 0.1);
$text-elit: #60616c;
$text-elit-swet: #9092a5;
$elit-col: #202020;
$elit-child-color: #3d2457;
$text: #a78c16;


// uchastie
$col-uchastie: #8e39c6;
$text-uchastie: rgb(224, 231, 231);
//
$col-otec: #588557;
$col-text: rgb(224, 231, 231);
$color-text:  #DEDEDE;
$beloe: #f6f6f6;
$beloe-new: #DEDEDE;
//
$grad1:  #155799;
$grad2: #159957;
$grad3: #5db0c5;
$grad4: #156499;
$grad1-o:  #ccb44b;
$grad2-o:   #d4ca9a;

$primary-modal:  #202020;

$border-linia:  #8d8484;
$border-lin-nav: rgb(175, 169, 112);
$border-foto: rgb(190, 186, 151);
$border-kroxi: #a78c16;
$border-linia-nav: #afa970;
// headers -> header
$sidebarr-width: 250px;
$z-index-header: 1000;
$z-index-sidebar: 1000;
$z-index-kroxii: 900;

$header-color: rgb(151, 144, 93);
$lini-prof: #9f966b;

$kroxii: #155799;
$red2:       #ED3024;
$gradien:  #fff;

// сезон
$sezon-text: green;
$sezon-teni: #025a02;

// proekts
$child-form: #565656;
$child-text: #025a02;
$col-child: rgba(255, 255, 255, 0.25);
$col-kategor: #b0b0b0;
$col-child-inklud: rgba(255, 255, 255, 0.15);
$rasa-color: green;

$transpar: transparent;

$glavn: #a48e00;
