@import "variables";
@import "~@coreui/coreui/scss/coreui";
@import "~simple-line-icons/scss/simple-line-icons";
@import "~font-awesome/scss/font-awesome";
@import "~toastr/toastr";
@import "vendor/reset";

body {
    //font-family: JetBreins Mono, -apple-system, BlinkMacSystemFont,
    //"Segoe UI", Roboto, "Helvetica Neue",
    //Arial, "Noto Sans", sans-serif,
    //"Apple Color Emoji", "Segoe UI Emoji",
    //"Segoe UI Symbol", "Noto Color Emoji";

    font-size: 1.2rem;
    line-height: 1.5;
    color: $border-linia-nav;
}
main {
    & > .container {
        padding: 80px 15px 0;
    }
}

.main {
    .container-fluid {
        padding: 0 20px;
    }
}

.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;

    & > * {
        margin-right: 4px;

        &:last-child {
            margin-right: 0;
        }
    }
}

a {
    color: inherit;
    opacity: 0.8;
    background-color: transparent;
    transition: opacity .2s linear;

    &:hover {
        text-decoration: none;
        color: inherit;
        opacity: 1;
    }
}

.box {
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.table {
    th,
    td {
        vertical-align: middle;
    }
}

.badge {
    padding: 0.28em 0.4em 0.22em 0.4em;
    line-height: 1.1;
}

.card {
    &> .table-bordered {
        border: none;
        margin-top: -1px;

        th:first-child, td:first-child {
            border-left: none;
        }

        th:last-child, td:last-child {
            border-right: none;
        }

        th, td {
            border-bottom: none;
        }
    }
}

pre {
    padding: 9.5px;
    margin-bottom: 1rem;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f6f6f6;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}

.table.calendar > tbody > tr > td {
    padding: 0;
    vertical-align: top;

    &.muted {
        background: #f6f6f6;
    }

    .day {
        min-height: 100px;
        padding: 0 4px;

        .item {
            background: #ffffdd;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin: 4px 0;
            padding: 8px;

            .header {
                margin-bottom: 4px;
            }

            .link {
                line-height: 1.2;
            }
        }
    }
}

@import "chat";
@import "auth/zagolov";
@import "foto-fon-help/uchasties/uchastie";
@import "sdwig-pa-ma/sdvig";
@import "knopkas/knopka";
@import "kroxis/kroxii";

@import "proekts/probody";
@import "proekts/pagee";

@import "proekts/container/container";

@import "proekts/headers/header";
@import "proekts/headers/nav";
@import "proekts/headers/search";
@import "proekts/headers/subnav";

@import "proekts/proekt/proekts";
@import "proekts/stories/stories";
@import "proekts/wstavka/wstavka";
@import "proekts/sides/sidebarr";
@import "proekts/imgg/kartinka";
@import "proekts/main/mainn";
@import "proekts/mestos/mesto";
@import "proekts/mestos/mesto-form";
@import "proekts/nav_pros/nav_pro";
@import "proekts/personaa/personaa";
@import "proekts/personaa/personaa-form";
@import "proekts/profiles/profile";
@import "proekts/ramka/ramka";

@import "proekts/paseka/inklud/inklud";
@import "proekts/paseka/inklud/tabs-inkl";

@import "proekts/paseka/tablle/tablle";
@import "proekts/paseka/tablle/tablle-child";

.direct-chat-action {
    padding: 0 0 10px 50px;
    font-size: .8rem;
}

.footer {
    background-color: #f5f5f5;

    & > .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}