<aside class="sidebarr">

    <div class="sidebarr__header">
        <div class="logo_es"></div>
    </div>


    <div class="sidebarr__content">
        <div class="profilee">

            <div class="bloknot-kar"></div>

            <div class="profilee__header">
                <div class="profilee__name"> Стать участником проекта  </div>
                <div class="profilee__prof"> Всё очень просто! </div>
            </div>
            <ul >
                <ol>1. Выбрать ПерсонНомер</ol>
                <ol>-</ol>

                <ol>2. Найти номер места пасеки </ol>
                <ol>-</ol>
                <ol>3. Выбрать группу и  Ник </ol>


            </ul>
            <div class="profilee__text">
                <div class="profilee__header">           
                    <div class="profilee__name"> Внимание! </div>
                    <div class="profilee__prof"> Если обнаружили ошибку 
                    </div>
                    <button class="btnn  btnn--pt btnn--mb0 " type="button" data-modal="contact-modal">
                    напишите мне
                </button>
                </div>
            </div>     
                        
        </div><!-- /.profile -->
    
       
    </div><!-- /.sidebar__content -->

		

</aside>