<aside class="sidebarr">

    <div class="sidebarr__header">
        <div class="logo_es"></div>
    </div>

    <div class="sidebarr__content">
        <div class="profilee">

            <div class="  plem-ind "></div>

            <div class="sid__header">
                <div class="profilee__name">Условные обозначение категорий </div>
            </div>
            <ul>
                <li class="st-plem st-plem__kras" >бр 	- 	брендовая</li>
                <li class="profilee__prof" >бр / адаптированная</li>
                <li class="profilee__prof" >бр / селекционная</li>
                <li>-----------------</li>
                <li class="st-plem st-plem__kras" >м - местная</li>
                <li class="profilee__prof" >м / адаптированная</li>
                <li class="profilee__prof" >м / селекционная</li>
            </ul>
            <div class="profilee__text">
                <div class="profilee__header">
                    <div class="profilee__name"> Внимание!</div>
                    <div class="profilee__prof"> Можно придумать свои Категории и Характеристики категорий</div>
                    <button class="btnn  btnn--pt btnn--mb0 " type="button" data-modal="contact-modal">
                        Напишите мне!
                    </button>
                </div>
            </div>

        </div><!-- /.profile -->

    </div>

</aside>