{% extends 'probase.html.twig' %}

{% block title %}ПчелоМатка{% endblock %}


{% block menupro %}
    {{ include('app/proekts/_tabs.html.twig') }}
    {{ include('app/proekts/page_glavas/pchelomatka/_tabs.html.twig') }}
{% endblock %}

{#{% block kroxii %}#}
{#    <a href="{{ path('app.proekts.basepro') }}">Главная</a>#}
{#    <span class="aktiv ">БрендМатки</span>#}
{#{% endblock %}#}

{% block bodyy %}

    Это ПчелоМатка. show
{% endblock %}