.containerr {
    max-width: 100%;

    // max-width: 90rem;
    margin: 0 auto;
    //padding-left: 1rem;
    //padding-right: 1rem;
    //padding-top: 1rem;
    padding: 1rem ;


    //@include breakpoint($mobile-bp) {
    //    padding-left: .5rem;
    //    padding-right: .5rem;
    //}
}
