<div class="modal " id="contact-modal">
    <div class="modal__content  modal__content--contact osnowa">
        <button class="modal__close" type="button">
            <img src="/assets/proekt/images/close.svg" alt="Закрыть">
        </button>
           <form class="formm" action="/" method="post">
            <div class="formm__group  formm__group--md">
                <input class="formm__control" type="text" placeholder="Ваше имя">
                <span class="formm__line"></span>
            </div>

            <div class="formm__group  formm__group--md">
                <input class="formm__control" type="email" placeholder="Ваш e-mail">
                <span class="formm__line"></span>
            </div>

            <div class="formm__group  formm__group--md">
                <textarea class="formm__control  formm__control--textarea" placeholder="Текст сообщения"></textarea>
                <span class="formm__line"></span>
            </div>

            <div class="formm__footer">
                <div class="formm__group  formm__group--md">
                    <button class="btn  btn--blue  btn--rounded  btn--sm" type="submit">Отправить</button>
                </div>
            </div>
        </form>

        <ul class="modal__footer">
            <li>
                e-mail: <a href="mailto:bee.olan@mail.ru">bee.olan@mail.ru</a>
            </li>
            {# <li>Ольга Игоревна
            </li> #}
        </ul>

    </div><!-- /.modal__content -->
</div><!-- /.modal -->