
<div class="proekts  pa-bo-0 ">

    <div class=" osnowa">

        <h1 class="storie-teni"> Рег - Те - Ма</h1>

        <h2 class="storie-teni storie-teni--em4">
            Станьте участником проекта
        </h2>
    </div>
</div>