
{#<div class="proekts  pa-bo-0 ">#}

    <div class=" osnowa">

        <h1 class="storie-teni"> Рег - Те - Ма</h1>

        <h2 class="storie-teni storie-teni--em3">
            <a href="app/proekts/page_glavas/uchastieGl">

            Станьте участником проекта
            </a>
        </h2>

    </div>

<div class="proekts pro-mesto ma-to-2">

    <div class="wstavka nav-teni">
        С чего начать
    </div>

    <ul class="mestoo__title">
        <li class="mestoo__title-item mestoo__nomer-red">
            <a href="{{ path('app.proekts.page_glavas.uchastieGl') }}">1. </a>
        </li>
        <li class="mestoo__title-item mestoo__nomer">
            <a href="{{ path('app.proekts.page_glavas.uchastieGl') }}">Стать участником проекта </a>
        </li>

        <li class="mestoo__title-item ">
            <a href="{{ path('app.proekts.page_glavas.uchastieGl') }}">
                <div class="foto glav-uch"></div>
            </a>
        </li>
    </ul>

</div>

{#</div>#}