<aside class="sidebarr" id="sidebarr">

    <div class="sidebarr__header">
        <div class="logo_es"></div>
    </div>

    <div class="sidebarr__content">
        <div class="olan"></div>
        <div class="profilee">

            <div class="profilee__header">
                <div class="profilee__prof"> Ольга Игоревна</div>
                <div class="profilee__name"> Пчеловод</div>
            </div>


            <div class="profilee__text">
                <a class="btnn btnn-sidebarr" href="#">Мои работы</a>
            </div>

        </div><!-- /.profilee -->

    </div><!-- /.sidebarr__content -->

    <div class="sidebarr__footer">

        <button class="btnn btnn-sidebarr " type="button" data-modal="contact-modal">
            Написать мне
        </button>
    </div>


</aside>
